@media (prefers-color-scheme: dark) {
    textarea {
        background-color: #4a4a4a;
        color: #ffffff;
    }
}

body {
    width: 1280px;
    margin: 8px auto;
}

textarea {
    padding: 3px;
    width: calc(100% - 12px);
    resize: none;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
}

.full > #queue {
    height: auto;
}

#aria2_ver {
    padding: 4px;
    margin-right: 3px;
}

#aria2_ver::before {
    content: "v";
}

:not(.adduri) > #adduri, :not(.settings) > #setting {
    display: none;
}

#adduri, #setting {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    top: 38px;
    right: 0px;
    width: 45%;
    padding: 8px;
    z-index: 999999;
}

.adduri #download_btn, .settings #options_btn {
    border-style: inset;
}

.adduri #download_btn:active, .settings #options_btn:active {
    border-style: outset;
}

#adduri > :first-child {
    margin-top: 0px;
}

#status > #active::before {
    content: var(--active);
}

#status > #waiting::before {
    content: var(--waiting);
}

#status > #stopped::before {
    content: var(--stopped);
}

#status > #download::before {
    content: var(--download);
}

#status > #upload::before {
    content: var(--upload);
}

#day:not(:empty)::after {
    content: var(--day);
}

#hour:not(:empty)::after {
    content: var(--hour);
}

#minute:not(:empty)::after {
    content: var(--minute);
}

#second:not(:empty)::after {
    content: var(--second);
}
