@media (prefers-color-scheme: dark) {
    textarea {
        background-color: #4a4a4a;
        color: #ffffff;
    }
}

body {
    width: 1280px;
    margin: 8px auto;
}

textarea {
    padding: 3px;
    width: calc(100% - 12px);
    resize: none;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
}

.full > #queue {
    height: auto;
}

#aria2_ver {
    padding: 4px;
    margin-right: 20px;
}

#aria2_ver::before {
    content: "v";
}

#adduri, #setting {
    display: none;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    top: 38px;
    width: 45%;
    padding: 8px;
    z-index: 999999;
}

#adduri {
    left: 0px;
}

#setting {
    right: 0px;
}

.adduri > #adduri, .options > #setting {
    display: block;
}

.adduri #download_btn, .options #options_btn {
    border-style: inset;
}

.adduri #download_btn:active, .options #options_btn:active {
    border-style: outset;
}

#download::after, #upload::after {
    content: "B/s";
}

#remote::after, #local::after, #size::after {
    content: "B";
}

#ratio::after {
    content: "%";
}

#day:not(:empty)::after {
    content: var(--day);
    vertical-align: sub;
}

#hour:not(:empty)::after {
    content: var(--hour);
    vertical-align: sub;
}

#minute:not(:empty)::after {
    content: var(--minute);
    vertical-align: sub;
}

#second:not(:empty)::after {
    content: var(--second);
    vertical-align: sub;
}

#infinite {
    display: none;
}

#day:empty + #hour:empty + #minute:empty + #second:empty + #infinite {
    display: inline-block;
}
