body {
    width: 1280px;
    margin: 8px auto;
}

#settings {
    display: none;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    top: 38px;
    width: 50%;
    padding: 8px;
    z-index: 999999;
}

.options > #settings {
    display: block;
}

.options #options_btn {
    border-style: inset;
}

.options #options_btn:active {
    border-style: outset;
}

#download::after, #upload::after {
    content: "B/s";
}

#remote::after, #local::after, #size::after {
    content: "B";
}

#ratio::after {
    content: "%";
}

#day:not(:empty)::after {
    content: "d";
    vertical-align: sub;
}

#hour:not(:empty)::after {
    content: "h";
    vertical-align: sub;
}

#minute:not(:empty)::after {
    content: "m";
    vertical-align: sub;
}

#second:not(:empty)::after {
    content: "s";
    vertical-align: sub;
}
