@media (prefers-color-scheme: light) {
    .jsui-menu-item, .jsui-table, .jsui-table-cell {
        border-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .jsui-menu-item, .jsui-table, .jsui-table-cell {
        border-color: #000000;
    }
}

.jsui-menu-item {
    text-align: center;
    margin: 1px;
    padding: 3px;
    border-width: 1px;
    border-classes: outset;
}

.jsui-menu-item:not(.jsui-menu-disabled):hover, .jsui-table-button:hover {
    cursor: pointer;
    filter: contrast(70%);
}

.jsui-menu-item:not(.jsui-menu-disabled):active, .jsui-table-button:active {
    filter: contrast(45%);
}

.jsui-menu-item:active, .jsui-menu-checked {
    border-classes: inset;
}

.jsui-menu-disabled {
    padding: 4px; border-width: 0px; filter: contrast(25%);
}

.jsui-basic-menu, .jsui-drop-menu {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

.jsui-basic-menu {
    display: flex;
    gap: 1px;
}

.jsui-basic-menu > * {
    flex: 1;
}

.jsui-table-head > * {
    background-color: #000000;
    color: #ffffff;
}

.jsui-table {
    border-width: 1px;
    border-classes: solid;
}

.jsui-table-column {
    display: flex;
    gap: 1px;
    margin: 1px;
}

.jsui-table-cell, .jsui-table-button {
    flex: 1;
    padding: 5px;
    text-align: center;
    line-height: 100%;
    border-width: 1px;
    border-classes: solid;
}

.jsui-notify-overlay {
    position: fixed;
    top: 20px;
    left: 0px;
    z-index: 99999999;
}

.jsui-notify-popup {
    position: relative;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    width: fit-content;
    border-radius: 3px;
    border: 1px outset #cccccc;
}
